body {
  width: 70%;
  margin: auto;
  background-color: #86c975;
}

h1 {
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(12, 71, 35);
  font-size: 250%;
  border: rgb(184, 184, 184);
}

h1, h2 {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: x-large;
  margin-bottom: 1rem;
  position: fixed;
  padding-bottom: 5rem;
}

.mystery_image {
  position: fixed;
  padding-top: 5rem;
}

section {
  border: 3px solid rgb(9, 70, 32);
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(185, 202, 188);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

main section {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pchoice {
  height: 199px;
  
}

.ochoice {
  height: 199px;
}

.images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images img {
  opacity: 50%;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.images img:hover {
  opacity: 100%;
}

section.scoreboard {
  margin-top: 2rem;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

}

#player_result {
  border-bottom: solid;
  border-color: rgb(9, 70, 32);
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
}

#wins, #losses, #ties {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: .25rem;

}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

p.label {
  line-height: 1;
  margin-top: 0;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-top: 1rem;
}

.reset button {
  border-radius: 0.5rem;
  border-width: 0.1rem;
  padding: .25rem .5rem;
  cursor: pointer;
  background-color: #d0d8cf;
}

.reset button:hover {
  transition: all .3s ease-in-out;
  background-color: #e2ebe1;
}

@media screen and (max-width: 1500px)  { /* Splits UI at optimal screen size */
  body {width: 75%;}
  h1 {margin-bottom: 0.25rem;}
  .pchoice {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 1250px)  { 
  body {width: 80%;}
}

@media screen and (max-width: 1000px)  {
  main {grid-template-columns: 1fr;}
  main img {transform: scale(.9);}
}

@media screen and (max-width: 650px)  { /* Mobile view */
  body {width: 85%;}
  h1 {
    font-size: 200%;
    margin-bottom: 0.75rem;
  }
  .pchoice {
    margin-top: 0rem;
    margin-bottom: .01rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ochoice {
    margin-bottom: .01rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #player_result {font-size: 110%;}
}